.main1 {
    margin-top: 5.1rem;
    grid-area: main;
    display: grid;
    width: 100%;
    background: #f4f4f4;
    gap: 0;
    min-height: 100vh;
    padding: 0;
    text-align: center;
}


.sales {
    background: #c2c2c2;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.sales-content{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0;
}

.sales-image {
    padding-left: 0;
    margin-left: 0;
    align-content: left;
    align-items: left;
    
}

.sales-image img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.sales-text {
    text-align: left;
}
.sales h2 {
    font-size: 2.2rem;
    margin-bottom: 1;
}

.sales p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
}

/* repairs */

.repairs {
    background: rgba(255, 228, 196, 0.26);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.repairs-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0;
}



.repairs-image img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.repairs-text {
    text-align: left;
}
.repairs h2 {
    font-size: 2.2rem;
    margin-bottom: 1;
    line-height: 2.5rem;
}

.repairs p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.6rem;
    padding-top: 2rem;
}

/* accessories */

.accessories {
    background: #c2c2c2;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.accessories-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0;
}


.accessories-image img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.accessories-text {
    text-align: left;
}

.accessories h2 {
    font-size: 2.2rem;
    margin-bottom: 1;
    line-height: 2.5rem;
}

.accessories p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding-top: 2rem;
    line-height: 1.6rem;
}

/* media query */

@media only screen and (max-width: 768px) {
    .sales-content {
        display: block;
    }

    .repairs-content {
        display: block;
    }

    .accessories-content {
        display: block;
    }
}
@media only screen and (max-width: 480px) {
    .sales-text p {
        width: 100%;
    }
    .repairs-text p {
        width: 100%;
    }
    .accessories-text p {
        width: 100%;
    }
}


